body
  .hero.hero-background
    .hero-container
      aside.profile-card
        .card-header
          a(target='_blank', href='#')
            img.hoverZoomLink(src='http://lorempixel.com/150/150/people/')
          h1 Pedro
          h2 Alguma coisa
        .profile-bio
          p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica
        ul.social-links
          li
            a(target='_blank', href='https://www.facebook.com/creativedonut')
              i.fa.fa-facebook
          li
            a(target='_blank', href='https://twitter.com/dropyourbass')
              i.fa.fa-twitter
          li
            a(target='_blank', href='https://github.com/vipulsaxena')
              i.fa.fa-github
          li
            a(target='_blank', href='https://www.behance.net/vipulsaxena')
              i.fa.fa-behance
  .arrow.arrow-1
  .arrow.arrow-2
  .work
  .content
    section.projetos.grid
      .intro
        .nugget.nugget-small Oi, eu sou o Pedro!
        .divider
        p.intro-text.text-medium-gray  Nor, at the time, had it failed to enter his monomaniac mind, that all the anguish of that then present suffering was but the direct issue of a former woe; and he too plainly seemed to see, that as the most poisonous reptile of the marsh perpetuates his kind as inevitably as the sweetest songster of the grove; so, equally with every felicity, all miserable events do naturally beget their like. Yea, more than equally.
      .third.project
        img.project-thumbnail(src='/assets/img/ciclosonar.png')
        .project-info
          .title-hover.nugget.text-white.txt-center Ciclosonar
          .divider-white
          .p.tags-hover.text-white.txt-center Arduino, Cicloativismo, Intervenção Urbana, Codigo Aberto
      .third.project
        img.project-thumbnail(src='/assets/img/contador.png')
        .project-info
          .title-hover.nugget.text-white.txt-center Contador de Ciclistas
          .divider-white
          .p.tags-hover.text-white.txt-center Arduino, Cicloativismo, Intervenção Urbana, Codigo Aberto
      .third.project
        img.project-thumbnail(src='/assets/img/mausmotoristas.png')
        .project-info
          .title-hover.nugget.text-white.txt-center Maus Motoristas
          .divider-white
          .p.tags-hover.text-white.txt-center Arduino, Cicloativismo, Intervenção Urbana, Codigo Aberto
      .third.project
        img.project-thumbnail(src='/assets/img/icone512.png')
        .project-info
          .title-hover.nugget.text-white.txt-center DeOlho
          .divider-white
          .p.tags-hover.text-white.txt-center Arduino, Cicloativismo, Intervenção Urbana, Codigo Aberto
      .third.project
        img.project-thumbnail(src='/assets/img/nalama.png')
        .project-info
          .title-hover.nugget.text-white.txt-center NaLama
          .divider-white
          .p.tags-hover.text-white.txt-center Arduino, Cicloativismo, Intervenção Urbana, Codigo Aberto
  .work
  .content
    section.conhecimento.grid
      .nugget.nugget-small.txt-center Conhecimentos
      #wrapper.center
        svg.progress.red.noselect(data-progress='80', x='0px', y='0px', viewbox='0 0 776 628')
          path.track(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          path.fill(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          text.value(x='50%', y='61%') 0%
          text.text(x='50%', y='122%') HTML5
        svg.progress.red.noselect(data-progress='70', x='0px', y='0px', viewbox='0 0 776 628')
          path.track(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          path.fill(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          text.value(x='50%', y='61%') 0%
          text.text(x='50%', y='122%') CSS3
        svg.progress.red.noselect(data-progress='60', x='0px', y='0px', viewbox='0 0 776 628')
          path.track(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          path.fill(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          text.value(x='50%', y='61%') 0%
          text.text(x='50%', y='122%') Arduino
        svg.progress.red.noselect(data-progress='50', x='0px', y='0px', viewbox='0 0 776 628')
          path.track(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          path.fill(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          text.value(x='50%', y='61%') 0%
          text.text(x='50%', y='122%') PCB Design
        svg.progress.red.noselect(data-progress='40', x='0px', y='0px', viewbox='0 0 776 628')
          path.track(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          path.fill(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          text.value(x='50%', y='61%') 0%
          text.text(x='50%', y='122%') JS
