footer.site-footer.text-footer-gray
  section.footer-content
    .third
      p.nugget.nugget-footer Feito com 
      i.fa.fa-heart 
      p.nugget.nugget-footer e carinho
      ul.social-links
        li
          a(target='_blank', href='https://www.facebook.com/creativedonut')
            i.fa.fa-facebook
        li
          a(target='_blank', href='https://twitter.com/dropyourbass')
            i.fa.fa-twitter
        li
          a(target='_blank', href='https://github.com/vipulsaxena')
            i.fa.fa-github
        li
          a(target='_blank', href='https://www.behance.net/vipulsaxena')
            i.fa.fa-behance
