$ani-speed: 2s;
$ani-delay: 1s;


.arrow {
  opacity: 0;
  position: absolute;
    left: 50%;
    top: 90%;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, -50%, 0);
}

.arrow-1 {
    animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-2 {
    animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.arrow:before,
.arrow:after {
  background: #f1e2e2;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
    top: 0;
    left: 0;
  width: 30px;
}

.arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}

.arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}

// Animation
@keyframes arrow-movement {
  0%   {
    opacity: 0;
    top: 88%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
