.hero {
    background: $farColor;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    position: static;
    width: 100%;
    z-index: 1;
}
.layer{
  position: fixed;
  top:0px;
 margin:auto;
 width:100%;
 z-index:100;
 min-height:400px;
 top: 0; left: 0; right: 0; bottom: 0;
 background-position: top center;
 background-repeat: no-repeat;
}



.scroll-container {
    position: absolute;
    margin-top: 100vh;
    width: 100%;
    z-index: 2;
}

.hero-container{
  display: none;
  @media (max-width: 1000px)
  {
    display:block;
  }
}
