/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #BD5248;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #BD5248;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #d89993; }

::-moz-selection {
  background: #FFF498; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

body {
  background: #F6F6F8;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Open Sans' sans-serif;
  color: #687173;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

header {
  width: 100%;
  background-color: #fff; }

nav.site-nav {
  padding: 0.9em 0; }
  @media screen and (max-width: 710px) {
    nav.site-nav {
      padding: 0; } }
  nav.site-nav ul.nav-list {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    list-style: none;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
    -ms-flex-pack: center;
        justify-content: center; }
    @media screen and (max-width: 710px) {
      nav.site-nav ul.nav-list {
        display: none; } }
    nav.site-nav ul.nav-list li.menu__item {
      display: block; }
      nav.site-nav ul.nav-list li.menu__item .menu__item--current {
        color: #d94f5c;
        transition: color 0.5s; }
      nav.site-nav ul.nav-list li.menu__item a.menu__link {
        height: 3em;
        text-align: center;
        color: #b5b5b5;
        transition: color 0.3s;
        padding: 1em;
        font-size: 1.05em;
        font-weight: 600;
        display: block;
        text-decoration: none;
        padding: 1em;
        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none; }
        nav.site-nav ul.nav-list li.menu__item a.menu__link:focus, nav.site-nav ul.nav-list li.menu__item a.menu__link:hover {
          color: #929292;
          outline: none; }

.burger-input {
  display: none; }
  @media screen and (max-width: 710px) {
    .burger-input {
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 45px;
      cursor: pointer;
      position: absolute; }
      .burger-input + label {
        width: 30px;
        display: block;
        margin: 0 auto;
        padding: 10px 0;
        cursor: pointer;
        position: relative; }
        .burger-input + label:after, .burger-input + label:before,
        .burger-input + label .burger {
          content: '';
          width: 25px;
          height: 4px;
          display: block;
          margin: 3px auto;
          border-radius: 3px;
          background-color: #e6e6e6;
          transition: all 200ms ease-in-out; }
      .burger-input:checked + label {
        top: 4px; }
        .burger-input:checked + label:before {
          -webkit-transform: translateY(2px) rotate(135deg);
          transform: translateY(2px) rotate(135deg); }
        .burger-input:checked + label:after {
          -webkit-transform: translateY(-12px) rotate(-135deg);
          transform: translateY(-12px) rotate(-135deg); }
        .burger-input:checked + label .burger {
          -webkit-transform: scale(0);
          transform: scale(0); }
      .burger-input:checked ~ nav.mobile-list {
        display: block; }
        .burger-input:checked ~ nav.mobile-list li {
          display: block;
          text-align: center; } }

nav.mobile-list {
  display: none; }

ul.nav-mobile {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style: none;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  -ms-flex-pack: center;
      justify-content: center; }
  ul.nav-mobile a {
    display: block;
    padding: 10px 0;
    color: #fd6b58; }
    ul.nav-mobile a:hover {
      background-color: #e6e6e6;
      transition: background-color 250ms ease-in-out; }

.hero {
  background: #FD6B58;
  background-size: cover;
  background-position: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  position: static;
  width: 100%;
  z-index: 1; }

.layer {
  position: fixed;
  top: 0px;
  margin: auto;
  width: 100%;
  z-index: 100;
  min-height: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top center;
  background-repeat: no-repeat; }

.scroll-container {
  position: absolute;
  margin-top: 100vh;
  width: 100%;
  z-index: 2; }

.hero-container {
  display: none; }
  @media (max-width: 1000px) {
    .hero-container {
      display: block; } }

.profile-card {
  background: #FFFFFF;
  width: 280px;
  height: 440px;
  z-index: 2;
  overflow: hidden;
  margin-top: 70px; }
  .profile-card h1,
  .profile-card h2 {
    font-weight: 500;
    margin: 0 0 5px; }
  .profile-card h1 {
    font-size: 24px; }
  .profile-card h2 {
    font-size: 16px; }
  .profile-card p {
    margin: 0; }
  .profile-card .card-header {
    width: auto;
    height: auto;
    text-align: center;
    float: none;
    padding: 30px 20px;
    display: block;
    margin-top: -20px;
    border-right: none;
    background: #FFFFFF; }
    .profile-card .card-header h1 {
      color: #FF5722; }
    .profile-card .card-header a {
      display: inline-block;
      text-align: center;
      position: relative;
      margin: 25px 30px; }
      .profile-card .card-header a img {
        width: 120px;
        max-width: 100%;
        border-radius: 50%;
        transition: box-shadow 0.3s ease;
        box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.06); }
    .profile-card .card-header a:hover img {
      box-shadow: 0 0 0 12px rgba(0, 0, 0, 0.1); }
  .profile-card ul.social-links {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    margin: 0;
    background: #FFFFFF;
    padding-left: 0px;
    text-align: center;
    box-sizing: border-box; }
  .profile-card ul.social-links li {
    list-style: none;
    margin: -5px 0 0;
    width: 25%;
    text-align: center; }
    .profile-card ul.social-links li a {
      display: inline-block;
      color: red;
      width: 24px;
      height: 24px;
      padding: 6px;
      position: relative;
      overflow: hidden !important;
      border-radius: 50%; }
      .profile-card ul.social-links li a i {
        position: relative;
        z-index: 1; }
      .profile-card ul.social-links li a img,
      .profile-card ul.social-links li a svg {
        width: 24px; }
  .profile-card .profile-bio {
    width: auto;
    height: auto;
    padding: 15px 20px 30px;
    background: #FFFFFF;
    display: block;
    float: none;
    color: #333333;
    text-align: center; }

.third {
  width: 305px; }
  @media screen and (max-width: 1180px) {
    .third {
      width: 251px; } }
  @media screen and (max-width: 1000px) {
    .third {
      width: 305px; } }
  @media screen and (max-width: 710px) {
    .third {
      width: 238px; } }
  @media screen and (max-width: 590px) {
    .third {
      width: 305px; } }

.project-thumbnail {
  height: 305px;
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  z-index: -1; }
  @media screen and (max-width: 1180px) {
    .project-thumbnail {
      height: 251px; } }
  @media screen and (max-width: 1000px) {
    .project-thumbnail {
      height: 305px; } }
  @media screen and (max-width: 710px) {
    .project-thumbnail {
      height: 238px; } }
  @media screen and (max-width: 590px) {
    .project-thumbnail {
      height: 305px; } }

.project {
  background-color: #fe988a;
  display: -ms-flexbox;
  display: flex;
  height: 305px;
  max-width: 305px;
  margin-right: 0;
  margin-bottom: 24px;
  overflow: hidden;
  position: relative;
  z-index: 2; }
  @media screen and (max-width: 1180px) {
    .project {
      height: 251px;
      max-width: 251px;
      background-color: #fe988a; } }
  @media screen and (max-width: 1000px) {
    .project {
      height: 305px;
      max-width: 305px; } }
  @media screen and (max-width: 710px) {
    .project {
      height: 238px;
      max-width: 238px; } }
  @media screen and (max-width: 590px) {
    .project {
      height: 305px;
      max-width: 305px; } }
  .project:hover {
    overflow: hidden; }
    .project:hover .project-info {
      opacity: 1;
      transition: opacity 0.3s; }
    .project:hover .project-thumbnail {
      opacity: 0.085;
      transition: opacity 0.3s;
      -webkit-transform: scale(1.03);
              transform: scale(1.03);
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s; }

.post-items:nth-last-child(-n+3) .project {
  margin-bottom: 0; }

.intro {
  width: 620px; }
  @media screen and (max-width: 1000px) {
    .intro {
      margin-bottom: 40px; } }
  @media screen and (max-width: 1180px) {
    .intro {
      width: 540px; } }

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 3px;
  width: 55px; }

.project-info {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  opacity: 0;
  position: relative;
  transition: opacity 0.3s;
  z-index: 1; }

.arrow {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 90%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0); }

.arrow-1 {
  -webkit-animation: arrow-movement 2s ease-in-out infinite;
          animation: arrow-movement 2s ease-in-out infinite; }

.arrow-2 {
  -webkit-animation: arrow-movement 2s 1s ease-in-out infinite;
          animation: arrow-movement 2s 1s ease-in-out infinite; }

.arrow:before,
.arrow:after {
  background: #f1e2e2;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px; }

.arrow:before {
  -webkit-transform: rotate(45deg) translateX(-23%);
          transform: rotate(45deg) translateX(-23%);
  -webkit-transform-origin: top left;
          transform-origin: top left; }

.arrow:after {
  -webkit-transform: rotate(-45deg) translateX(23%);
          transform: rotate(-45deg) translateX(23%);
  -webkit-transform-origin: top right;
          transform-origin: top right; }

@-webkit-keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 88%; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 88%; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.nugget-small {
  font-size: 2.35em; }

.nugget {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 45px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #FD6B58; }

.text-light-gray {
  color: #8990A1; }

.intro-text {
  font-size: 20px;
  line-height: 32px;
  width: auto; }

.text-medium-gray {
  color: #687173; }

.text-white {
  color: #fff; }

.txt-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.title-hover {
  margin: 0 auto 30px auto;
  width: 200px;
  text-align: center; }

.divider-white {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  width: 55px; }

.tags-hover {
  margin: 30px auto 0 auto;
  width: 220px;
  text-align: center;
  text-transform: capitalize; }

#wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  #wrapper h1 {
    font-family: 'Open Sans';
    color: white;
    text-align: center;
    margin: 50px 0 -80px; }
  #wrapper a {
    font-family: 'Open Sans';
    color: white;
    margin: 50px 0 -80px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    text-decoration: none; }

/*===== The CSS =====*/
.progress {
  width: 200px;
  height: 240px;
  padding-bottom: 30px;
  display: -ms-flexbox;
  display: flex; }

.progress .track, .progress .fill {
  fill: transparent;
  stroke-width: 30;
  -webkit-transform: translate(290px, 800px) rotate(-120deg);
          transform: translate(290px, 800px) rotate(-120deg); }

.progress .track {
  stroke: #384753; }

.progress .fill {
  stroke: white;
  stroke-linecap: round;
  stroke-dasharray: 2160;
  stroke-dashoffset: 2160;
  transition: stroke-dashoffset 1s; }

.progress.blue .fill {
  stroke: #68d6c6; }

.progress.green .fill {
  stroke: #badfac; }

.progress.red .fill {
  stroke: #f71717; }

.progress .value, .progress .text {
  font-family: 'Open Sans';
  fill: black;
  text-anchor: middle; }

.progress .value {
  font-size: 180px; }

.progress .text {
  font-size: 120px; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

section {
  margin: auto;
  width: 960px; }
  @media screen and (max-width: 1180px) {
    section {
      width: 800px; } }
  @media screen and (max-width: 1000px) {
    section {
      width: 634px; } }
  @media screen and (max-width: 710px) {
    section {
      width: 500px; } }
  @media screen and (max-width: 590px) {
    section {
      width: 305px; } }

.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -webkit-box-lines: multiple;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.work {
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  margin-top: 70px; }

.content {
  background-color: #fff;
  padding-top: 170px;
  padding-bottom: 170px; }
  @media screen and (max-width: 1000px) {
    .content {
      padding-top: 130px;
      padding-bottom: 130px; } }

.conhecimento {
  -ms-flex-direction: column;
      flex-direction: column; }

.site-footer {
  background-color: #FD6B58;
  padding: 70px 0;
  position: relative;
  text-align: center; }
  .site-footer .nugget {
    color: white; }
  .site-footer ul.social-links {
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    margin: 0;
    padding-left: 0px; }
    .site-footer ul.social-links li {
      width: 25%;
      text-align: center; }

.text-footer-gray {
  color: #B0B4C0; }

.footer-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.nugget-footer {
  font-size: 0.75em;
  line-height: 20px;
  display: inline; }

i.fa.fa-heart {
  color: white;
  padding-right: 5px; }
